<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar sesion</title>
  </head>
  <body>
    <main>
      <h2>Bienvenido!</h2>
      <p id="helperMessage" style="margin: 0.2rem">Inicie sesion</p>
      <form (ngSubmit)="this.onSubmit()">
        <label>Usuario</label>
        <input id="username" type="username" class="text-like-input" />
        <p id="messageUsrname" class="error-msg"></p>
        <label>Contraseña</label>
        <input id="psw1" type="password" class="text-like-input" />
        <p id="messageP1" class="error-msg"></p>
      </form>
      <div
        class="flex-between diagonal circular-right margin-top"
        style="align-items: center"
      >
        <button id="loginButton" class="fancy-button fancy-button-right grow">
          <span>Iniciar sesión</span>
        </button>
      </div>
    </main>
  </body>
</html>
